name: CI - Lint & Artefacts

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run ESLint
        run: npm run lint

      - name: Create artefact
        uses: actions/upload-artifact@v4
        with:
          name: mini-node-project
          path: .
